@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open sans', sans-serif;
    color: white;
    background: url(front_page_PNG.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: cover;
}

.navbar-brand {
    margin-left: 6em;
}

.nav.navbar-nav.nav-left li.active a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    box-shadow: 0em 0.3em white;
}

.nav.navbar-nav.nav-left li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    margin-left: 2em;
    padding-bottom: 0.3em;
    display: inline-block;
}

.nav.navbar-nav.nav-left li a:hover {
    box-shadow: 0em 0.3em white;
}

.navbar-toggler {
    color: white;
}

.nav.navbar-nav.ml-auto li.active a {
    display: inline-block;
    padding: 0.8em 3em;
    border-radius: 0.5em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(14, 14, 105);
    background-color: white;
    text-align: center;
    transition: all 0.2s;
    margin-right: 25em;
    font-weight: 900;
}

.nav.navbar-nav.ml-auto li.active a:hover {
    background-color: rgb(236, 165, 77);
    transition: ease in 0.5ms;
    color: white;
    font-weight: 900;
}

.nav.navbar-nav.ml-auto li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    margin-top: 0.3em;
    font-weight: 900;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media all and (max-width:576px) {
    .nav.navbar-nav.ml-auto li.active a {
        margin: 0.1em auto;
    }
    .nav.navbar-nav.nav-left li.active a {
        margin: 0.1em auto;
        border-bottom: auto;
    }
    .nav.navbar-nav.nav-left li a {
        margin: 0.1em auto;
    }
}

@media screen and (orientation:portrait) {
    body {
        background-position-y: top;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
}