@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
html,
body {
    font-family: 'Open sans', sans-serif;
    color: white;
    background-image: url(front_page_PNG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-brand {
    margin-left: 6em;
}

.nav.navbar-nav.nav-left li.active a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    box-shadow: 0em 0.3em white;
}

.nav.navbar-nav.nav-left li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    margin-left: 2em;
    padding-bottom: 0.3em;
    display: inline-block;
}

.nav.navbar-nav.nav-left li a:hover {
    box-shadow: 0em 0.3em white;
}

.navbar-toggler {
    color: white;
}

.nav.navbar-nav.ml-auto li.active a {
    display: inline-block;
    padding: 0.8em 3em;
    border-radius: 0.5em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(14, 14, 105);
    background-color: white;
    text-align: center;
    transition: all 0.2s;
    margin-right: 25rem;
    font-weight: 900;
}

.nav.navbar-nav.ml-auto li.active a:hover {
    background-color: rgb(236, 165, 77);
    transition: ease in 0.5ms;
    color: white;
    font-weight: 900;
}

.nav.navbar-nav.ml-auto li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
    margin-top: 0.3em;
}

.col-md-16.col-lg-5 h2 {
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
    font-style: bold;
    margin-left: 2em;
    margin-top: 2em;
    font-weight: 1000;
}

.col-md-16.col-lg-5 p {
    font-family: "Open Sans", sans-serif;
    font-style: bold;
    margin-left: 9.5em;
    margin-top: 2em;
    font-size: 15px;
}

.btn.btn-primary {
    margin-left: 9em;
    margin-top: 4em;
    background-color: rgb(255, 89, 105);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 900;
    border-radius: 4em;
    padding: 0.5em 1em;
}

.page {
    float: center botoom;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 8%;
}

.page input[type="radio"]:checked {
    margin-left: 0%;
    background-color: #0043ff;
    top: 12.5px;
    height: 20px;
    width: 20px;
    border: 5px solid #f7bb07;
}

.page input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: #4677ff;
    top: 10px;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 1%;
    outline: none;
}
/*---Media Queries --*/

@media (max-width: 1500px) {
    .nav.navbar-nav.ml-auto li.active a {
        display: inline-block;
        padding: 0.8em 3em;
        border-radius: 0.5em;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: rgb(14, 14, 105);
        background-color: white;
        text-align: center;
        transition: all 0.2s;
        font-weight: 900;
    }
    .nav.navbar-nav.ml-auto li.active a:hover {
        background-color: rgb(236, 165, 77);
        transition: ease in 0.5ms;
        color: white;
        font-weight: 900;
    }
    .nav.navbar-nav.ml-auto li a {
        color: white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-style: bold;
        margin-top: 0.3em;
    }
    .page {
        float: center botoom;
        border-radius: 5px;
        margin-top: 4%;
        margin-left: 15%;
    }
    
    .page input[type="radio"]:checked {
        margin-left: 0%;
        background-color: #0043ff;
        top: 12.5px;
        height: 20px;
        width: 20px;
        border: 5px solid #f7bb07;
    }
    
    .page input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        background-color: #4677ff;
        top: 10px;
        height: 15px;
        width: 15px;
        border: 0;
        border-radius: 100%;
        cursor: pointer;
        margin-right: 1%;
        outline: none;
    }
}

@media (max-width: 992px) {
    .nav.navbar-nav.ml-auto li.active a {
        display: inline-block;
        padding: 0.8em 3em;
        border-radius: 0.5em;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: rgb(14, 14, 105);
        background-color: white;
        text-align: center;
        transition: all 0.2s;
        font-weight: 900;
    }
    .nav.navbar-nav.ml-auto li.active a:hover {
        background-color: rgb(236, 165, 77);
        transition: ease in 0.5ms;
        color: white;
        font-weight: 900;
    }
    .nav.navbar-nav.ml-auto li a {
        color: white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-style: bold;
        margin-top: 0.3em;
    }
    .page {
        float: center botoom;
        border-radius: 5px;
        margin-top: 4%;
        margin-left: 20%;
    }
    
    .page input[type="radio"]:checked {
        margin-left: 0%;
        background-color: #0043ff;
        top: 12.5px;
        height: 20px;
        width: 20px;
        border: 5px solid #f7bb07;
    }
    
    .page input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        background-color: #4677ff;
        top: 10px;
        height: 15px;
        width: 15px;
        border: 0;
        border-radius: 100%;
        cursor: pointer;
        margin-right: 1%;
        outline: none;
    }
    @media (max-width: 768px) {
        .nav.navbar-nav.ml-auto li.active a {
            display: inline-block;
            padding: 0.8em 3em;
            border-radius: 0.5em;
            margin: 0 0.3em 0.3em 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            color: rgb(14, 14, 105);
            background-color: white;
            text-align: center;
            transition: all 0.2s;
            font-weight: 900;
        }
        .nav.navbar-nav.ml-auto li.active a:hover {
            background-color: rgb(236, 165, 77);
            transition: ease in 0.5ms;
            color: white;
            font-weight: 900;
        }
        .nav.navbar-nav.ml-auto li a {
            color: white;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-style: bold;
            margin-top: 0.3em;
        }
        .page {
            float: center botoom;
            border-radius: 5px;
            margin-top: 4%;
            margin-left: 22%;
        }
        
        .page input[type="radio"]:checked {
            margin-left: 0%;
            background-color: #0043ff;
            top: 12.5px;
            height: 20px;
            width: 20px;
            border: 5px solid #f7bb07;
        }
        
        .page input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            background-color: #4677ff;
            top: 10px;
            height: 15px;
            width: 15px;
            border: 0;
            border-radius: 100%;
            cursor: pointer;
            margin-right: 1%;
            outline: none;
        }
    }
    @media (max-width: 576px) {
        .nav.navbar-nav.ml-auto li.active a {
            display: inline-block;
            padding: 0.8em 3em;
            border-radius: 0.5em;
            margin: 0 0.3em 0.3em 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            color: rgb(14, 14, 105);
            background-color: white;
            text-align: center;
            transition: all 0.2s;
            font-weight: 900;
        }
        .nav.navbar-nav.ml-auto li.active a:hover {
            background-color: rgb(236, 165, 77);
            transition: ease in 0.5ms;
            color: white;
            font-weight: 900;
        }
        .nav.navbar-nav.ml-auto li a {
            color: white;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-style: bold;
            margin-top: 0.3em;
        }
        .page {
            float: center botoom;
            border-radius: 5px;
            margin-top: 4%;
            margin-left: 33%;
        }
        
        .page input[type="radio"]:checked {
            margin-left: 0%;
            background-color: #0043ff;
            top: 12.5px;
            height: 20px;
            width: 20px;
            border: 5px solid #f7bb07;
        }
        
        .page input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            background-color: #4677ff;
            top: 10px;
            height: 15px;
            width: 15px;
            border: 0;
            border-radius: 100%;
            cursor: pointer;
            margin-right: 1%;
            outline: none;
        }
    }
    @media all and (max-width:768px) {
        .nav.navbar-nav.ml-auto li.active a {
            margin: 0.1em auto;
        }
        .nav.navbar-nav.nav-left li.active a {
            margin: 0.1em auto;
            border-bottom: auto;
        }
        .nav.navbar-nav.nav-left li a {
            margin: 0.1em auto;
        }
    }